.jumbotron {
    background-color: lightblue;
    padding: 10px;
}

.col-2 {
    background-color: lightblue;
}

.low {
    background-color: green;
}

.med {
    background-color: yellow;
}

.high {
    background-color: red;
}